@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
